<h1>About Me</h1>
<p>My name is David Riddlebarger. I'm taking One Month Rails so I can learn how to develop basic web applications. I'm hoping to eventually develop prototypes (MVPs) for a few ideas I have...</p>