<h1>Contact us</h1>
<p>Here's how you can contact me:</p>
<ul>
<li><a href = "mailto:DRiddlebarger@gmail.com">Email</a></li>
<li><a href = "https://www.linkedin.com/in/davidriddlebarger/">LinkedIn</a></li>
</ul>
